*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
        padding: 2rem;
}
.frame{
    background: rgb(0, 0, 255);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}
.profile img{
    width: 25%;
    height: 100%;
    border-radius: 50%;
}
.text{
    color: #fff;
}
@media only screen and (max-width: 900px){
    .frame{
        flex-direction: column;
    }
}